<a href="https://colab.research.google.com/github/tanviredu/PYTHON_SQL_ALCHEMY_BEGINNER_TO_ADVANCE/blob/master/SQLALCHEMY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from google.colab import files
uploaded = files.upload()

Saving heroes.db to heroes.db

![alt text](https://raw.githubusercontent.com/tanviredu/PYTHON_SQL_ALCHEMY_BEGINNER_TO_ADVANCE/master/asset/schema.PNG)

In [0]:
## connct to the database
from sqlalchemy import create_engine
engine = create_engine("sqlite:///heroes.db")
connection = engine.connect()

In [14]:
## making a  quary in the database user table
query = "SELECT * FROM users"
results = connection.execute(query)
print(results)
## for fetching one row 
print(results.fetchone())

## for fetching all the row
print(results.fetchall())

<sqlalchemy.engine.result.ResultProxy object at 0x7fdde97c9b70>
(1, 'goldenpanda238')
[(2, 'saddog275'), (3, 'angrypeacock368'), (4, 'yellowladybug224'), (5, 'whitebird874'), (6, 'reddog184'), (7, 'organicleopard173'), (8, 'goldenbutterfly544'), (9, 'beautifulrabbit672'), (10, 'organicfrog423'), (11, 'beautifulfish857'), (12, 'brownbutterfly255'), (13, 'crazyduck274'), (14, 'ticklishgorilla977'), (15, 'greenpeacock149'), (16, 'greenrabbit428'), (17, 'tinyfrog679'), (18, 'whitesnake294'), (19, 'browntiger495'), (20, 'bluegoose997'), (21, 'purplecat169'), (22, 'organiczebra344'), (23, 'orangebear794'), (24, 'ticklishostrich231'), (25, 'smallbear966'), (26, 'beautifulfish291'), (27, 'bluetiger782'), (28, 'organicladybug261'), (29, 'orangewolf664'), (30, 'redduck634'), (31, 'goldenpanda965'), (32, 'beautifulwolf115'), (33, 'yellowpanda238'), (34, 'redsnake762'), (35, 'organicbutterfly164'), (36, 'blackelephant577'), (37, 'silverostrich674'), (38, 'redrabbit119'), (39, 'organickoala908'), (40, 'crazygorilla440'), (41, 'yellowtiger845'), (42, 'brownfrog314'), (43, 'angrysnake569'), (44, 'smallwolf710'), (45, 'purpleelephant535'), (46, 'tinymeercat543'), (47, 'heavykoala295'), (48, 'bigfrog380'), (49, 'redbutterfly352'), (50, 'silverdog793'), (51, 'bluegoose473'), (52, 'greencat542'), (53, 'organicbear157'), (54, 'redladybug144'), (55, 'heavylion809'), (56, 'tinybear408'), (57, 'sadlion151'), (58, 'happysnake390'), (59, 'orangewolf991'), (60, 'purplecat695'), (61, 'tinyostrich164'), (62, 'lazymeercat654'), (63, 'ticklishgorilla263'), (64, 'blueelephant525'), (65, 'smallpeacock826'), (66, 'greenelephant772'), (67, 'bigleopard255'), (68, 'blackkoala578'), (69, 'crazyswan574'), (70, 'crazygoose890'), (71, 'blacktiger707'), (72, 'bluepeacock792'), (73, 'purplezebra714'), (74, 'ticklishkoala575'), (75, 'yellowswan985'), (76, 'bigfish328'), (77, 'sadgorilla411'), (78, 'bluesnake127'), (79, 'redbear427'), (80, 'bluemeercat376'), (81, 'sadmouse789'), (82, 'bigleopard505'), (83, 'silvergoose523'), (84, 'lazyswan103'), (85, 'redsnake414'), (86, 'happyzebra356'), (87, 'greenpanda944'), (88, 'smallsnake665'), (89, 'greenlion741'), (90, 'crazyswan604'), (91, 'ticklishrabbit119'), (92, 'tinybear161'), (93, 'smalldog469'), (94, 'brownrabbit687'), (95, 'silverleopard909'), (96, 'silverduck124'), (97, 'whitedog720'), (98, 'bluepeacock738'), (99, 'purpleleopard787'), (100, 'beautifulcat980'), (101, 'organickoala251'), (102, 'purplewolf697'), (103, 'yellowpanda922'), (104, 'blueostrich632'), (105, 'beautifulbear882'), (106, 'smallsnake961'), (107, 'sadwolf876'), (108, 'goldenlion724'), (109, 'redmeercat843'), (110, 'yellowkoala977'), (111, 'happylion622'), (112, 'redfrog639'), (113, 'silverpanda822'), (114, 'smallwolf414'), (115, 'smallfrog166'), (116, 'bigmeercat552'), (117, 'blacklion550'), (118, 'ticklishlion995'), (119, 'whiteostrich801'), (120, 'greenbird354'), (121, 'bluemeercat495'), (122, 'sadcat642'), (123, 'orangefrog705'), (124, 'whitebutterfly119'), (125, 'brownsnake452'), (126, 'redbutterfly161'), (127, 'ticklishpanda482'), (128, 'tinyfish934'), (129, 'bigrabbit623'), (130, 'whitegoose157'), (131, 'brownduck384'), (132, 'greenduck217'), (133, 'redmouse593'), (134, 'happylion376'), (135, 'bluecat719'), (136, 'smallswan761'), (137, 'happyleopard484'), (138, 'greenelephant965'), (139, 'purplemouse530'), (140, 'angryfrog165'), (141, 'greenwolf828'), (142, 'whiterabbit561'), (143, 'silvergorilla120'), (144, 'brownlion706'), (145, 'purplecat690'), (146, 'crazycat138'), (147, 'sadswan910'), (148, 'orangefish778'), (149, 'brownbutterfly791'), (150, 'lazywolf761'), (151, 'angryelephant837'), (152, 'sadgoose628'), (153, 'blackcat716'), (154, 'happyfrog265'), (155, 'greendog825'), (156, 'angrygorilla950'), (157, 'orangezebra688'), (158, 'smallfrog574'), (159, 'orangeelephant103'), (160, 'lazyfrog902'), (161, 'bigbear844'), (162, 'happyfrog608'), (163, 'tinydog558'), (164, 'orangedog802'), (165, 'silverzebra821'), (166, 'beautifulelephant860'), (167, 'orangegorilla884'), (168, 'redcat933'), (169, 'ticklishgorilla929'), (170, 'smallelephant640'), (171, 'tinyzebra562'), (172, 'smallbear259'), (173, 'ticklishsnake264'), (174, 'tinybutterfly939'), (175, 'ticklishtiger737'), (176, 'sadbutterfly109'), (177, 'yellowdog653'), (178, 'beautifulzebra936'), (179, 'bigsnake840'), (180, 'greenmouse569'), (181, 'redsnake872'), (182, 'brownladybug440'), (183, 'angryleopard879'), (184, 'ticklishelephant375'), (185, 'orangezebra865'), (186, 'lazymouse604'), (187, 'ticklishswan951'), (188, 'bigsnake591'), (189, 'crazypanda156'), (190, 'organicsnake631'), (191, 'heavyelephant169'), (192, 'goldencat691'), (193, 'happykoala361'), (194, 'sadmouse603'), (195, 'heavyostrich934'), (196, 'purpleostrich835'), (197, 'greenbear816'), (198, 'organicfrog883'), (199, 'heavypeacock959'), (200, 'beautifulrabbit354'), (201, 'purpledog930'), (202, 'orangeelephant860'), (203, 'smallbird990'), (204, 'whitegoose430'), (205, 'whitesnake478'), (206, 'purpleduck203'), (207, 'crazylion250'), (208, 'happysnake316'), (209, 'silverbutterfly922'), (210, 'bluewolf439'), (211, 'silverduck169'), (212, 'greenrabbit961'), (213, 'beautifulsnake523'), (214, 'beautifulsnake934'), (215, 'heavyzebra986'), (216, 'blueleopard510'), (217, 'silvercat119'), (218, 'bigleopard341'), (219, 'goldenmeercat782'), (220, 'happylion406'), (221, 'yellowtiger767'), (222, 'brownlion897'), (223, 'purplezebra855'), (224, 'ticklishleopard530'), (225, 'whitebutterfly922'), (226, 'bigrabbit514'), (227, 'silvermeercat590'), (228, 'crazydog638'), (229, 'bluebutterfly136'), (230, 'yellowbird548'), (231, 'redmouse572'), (232, 'happytiger666'), (233, 'brownbird596'), (234, 'organiclion831'), (235, 'blacksnake815'), (236, 'heavytiger451'), (237, 'bigcat629'), (238, 'orangefish416'), (239, 'heavybear888'), (240, 'organicmeercat106'), (241, 'orangeostrich968'), (242, 'silverfish532'), (243, 'orangeladybug741'), (244, 'crazymouse543'), (245, 'orangetiger340'), (246, 'silvergoose353'), (247, 'greenlion375'), (248, 'lazysnake772'), (249, 'yellowkoala303'), (250, 'happyzebra156'), (251, 'happyladybug148'), (252, 'blackpeacock228'), (253, 'bigleopard460'), (254, 'happygorilla166'), (255, 'smalllion706'), (256, 'purplepanda548'), (257, 'redgoose920'), (258, 'silvertiger947'), (259, 'yellowmouse505'), (260, 'sadpeacock712'), (261, 'redelephant283'), (262, 'happysnake700'), (263, 'redsnake737'), (264, 'bigbird511'), (265, 'heavyladybug218'), (266, 'goldenleopard100'), (267, 'lazygoose710'), (268, 'redostrich178'), (269, 'goldenswan427'), (270, 'bigkoala911'), (271, 'smallladybug935'), (272, 'browndog664'), (273, 'crazytiger472'), (274, 'angryostrich212'), (275, 'brownsnake601'), (276, 'yellowpanda119'), (277, 'bigmeercat124'), (278, 'greenkoala349'), (279, 'yellowgorilla376'), (280, 'angryduck334'), (281, 'greenmouse110'), (282, 'happypanda475'), (283, 'blackfrog748'), (284, 'smallgorilla428'), (285, 'crazymouse163'), (286, 'bigpeacock852'), (287, 'tinypeacock581'), (288, 'happyfish714'), (289, 'browncat550'), (290, 'smallfrog380'), (291, 'beautifullion156'), (292, 'ticklishfrog880'), (293, 'orangepeacock160'), (294, 'goldenladybug754'), (295, 'crazygoose971'), (296, 'crazypanda648'), (297, 'angryelephant491'), (298, 'silverrabbit651'), (299, 'organicostrich684'), (300, 'orangegorilla623'), (301, 'brownbutterfly663'), (302, 'purplefish509'), (303, 'yellowrabbit114'), (304, 'silverpanda186'), (305, 'blackbird791'), (306, 'happywolf673'), (307, 'happyswan401'), (308, 'orangewolf848'), (309, 'sadpanda790'), (310, 'angrymouse859'), (311, 'yellowtiger296'), (312, 'bigwolf979'), (313, 'angrydog619'), (314, 'angrytiger972'), (315, 'purplemeercat145'), (316, 'bigsnake995'), (317, 'organicbutterfly214'), (318, 'smalldog932'), (319, 'heavyladybug749'), (320, 'bigkoala806'), (321, 'crazywolf126'), (322, 'ticklishbear971'), (323, 'tinymouse166'), (324, 'purplekoala288'), (325, 'goldengorilla915'), (326, 'beautifulpanda748'), (327, 'bluefish476'), (328, 'angryfrog199'), (329, 'happyladybug514'), (330, 'heavyrabbit370'), (331, 'bluekoala628'), (332, 'whiterabbit539'), (333, 'redlion266'), (334, 'happyduck170'), (335, 'brownbear387'), (336, 'tinydog434'), (337, 'greenbutterfly680'), (338, 'angryswan765'), (339, 'whitegorilla368'), (340, 'goldenpeacock961'), (341, 'lazycat695'), (342, 'bluefrog506'), (343, 'goldenleopard228'), (344, 'smallostrich679'), (345, 'smalldog841'), (346, 'redduck378'), (347, 'bigrabbit116'), (348, 'yellowbear814'), (349, 'tinyduck810'), (350, 'whitekoala665'), (351, 'orangetiger551'), (352, 'tinyswan863'), (353, 'blueladybug287'), (354, 'orangeelephant231'), (355, 'lazypanda452'), (356, 'goldenduck194'), (357, 'tinywolf594'), (358, 'beautifulrabbit474'), (359, 'heavyfish312'), (360, 'yellowbird300'), (361, 'yellowmeercat384'), (362, 'purpleladybug876'), (363, 'greenbear978'), (364, 'ticklishtiger920'), (365, 'biggoose475'), (366, 'silverostrich955'), (367, 'organicpanda961'), (368, 'blackladybug263'), (369, 'smallpeacock870'), (370, 'silvercat652'), (371, 'crazymouse567'), (372, 'lazyleopard706'), (373, 'whitedog523'), (374, 'bigbutterfly887'), (375, 'purplekoala338'), (376, 'purplefish281'), (377, 'whitemouse817'), (378, 'angrymeercat384'), (379, 'biglion565'), (380, 'bluegorilla587'), (381, 'crazymouse845'), (382, 'beautifulfish244'), (383, 'purplefish995'), (384, 'beautifulostrich927'), (385, 'angrygorilla698'), (386, 'biggorilla522'), (387, 'whitemouse160'), (388, 'angryleopard747'), (389, 'happydog684'), (390, 'whitedog418'), (391, 'happybear291'), (392, 'ticklishbird774'), (393, 'browncat382'), (394, 'organicduck205'), (395, 'happyostrich866'), (396, 'beautifulbutterfly107'), (397, 'redfrog771'), (398, 'brownleopard245'), (399, 'greengoose807'), (400, 'yellowleopard288'), (401, 'greenrabbit563'), (402, 'beautifulrabbit315'), (403, 'orangemouse174'), (404, 'ticklishfrog699'), (405, 'lazygorilla457'), (406, 'orangemouse901'), (407, 'orangebutterfly476'), (408, 'crazygorilla589'), (409, 'angrymouse336'), (410, 'heavyfish435'), (411, 'bluepeacock885'), (412, 'greenfish402'), (413, 'heavyrabbit401'), (414, 'angryzebra539'), (415, 'sadzebra832'), (416, 'yellowrabbit840'), (417, 'purpleladybug978'), (418, 'whitefrog326'), (419, 'yellowzebra583'), (420, 'goldenmouse833'), (421, 'tinykoala674'), (422, 'crazyswan349'), (423, 'sadmouse371'), (424, 'ticklishbear610'), (425, 'goldenmouse388'), (426, 'smallmeercat546'), (427, 'angrymouse602'), (428, 'lazybutterfly333'), (429, 'organicladybug339'), (430, 'goldengorilla353'), (431, 'crazymeercat557'), (432, 'purpleleopard822'), (433, 'crazybird900'), (434, 'orangemeercat550'), (435, 'beautifulpanda491'), (436, 'bluerabbit183'), (437, 'tinygorilla176'), (438, 'sadostrich319'), (439, 'goldenwolf492'), (440, 'orangeduck566'), (441, 'orangefrog581'), (442, 'silvergorilla946'), (443, 'bigfrog914'), (444, 'crazypanda963'), (445, 'organiclion614'), (446, 'organicmeercat603'), (447, 'crazybird763'), (448, 'happypanda359'), (449, 'bigwolf901'), (450, 'smallgoose659'), (451, 'angryrabbit243'), (452, 'happypanda469'), (453, 'redgorilla540'), (454, 'greenelephant592'), (455, 'bluemouse202'), (456, 'yellowbear901'), (457, 'heavyduck647'), (458, 'lazyfish976'), (459, 'crazyswan508'), (460, 'smallelephant134'), (461, 'greenmeercat396'), (462, 'smalldog431'), (463, 'redcat137'), (464, 'bluefrog867'), (465, 'tinylion628'), (466, 'redswan835'), (467, 'orangerabbit875'), (468, 'redtiger113'), (469, 'redleopard373'), (470, 'biggoose299'), (471, 'lazybird149'), (472, 'whitefrog856'), (473, 'sadrabbit387'), (474, 'whiteswan402'), (475, 'sadostrich313'), (476, 'bigmouse805'), (477, 'organiccat507'), (478, 'goldentiger453'), (479, 'bluerabbit361'), (480, 'orangeduck198'), (481, 'whitekoala950'), (482, 'beautifuldog827'), (483, 'sadfish969'), (484, 'bigleopard200'), (485, 'bigzebra501'), (486, 'lazybear810'), (487, 'brownpeacock740'), (488, 'redcat407'), (489, 'bigbutterfly227'), (490, 'redleopard752'), (491, 'bigzebra696'), (492, 'brownrabbit717'), (493, 'blackwolf269'), (494, 'lazywolf307'), (495, 'greenbear930'), (496, 'crazyfish296'), (497, 'smallswan110'), (498, 'blackostrich749'), (499, 'sadgorilla838'), (500, 'greenfrog345'), (501, 'greensnake776'), (502, 'blackfrog193'), (503, 'ticklishlion483'), (504, 'organickoala209'), (505, 'smalltiger132'), (506, 'sadbear850'), (507, 'bigmouse807'), (508, 'orangeleopard764'), (509, 'goldengorilla799'), (510, 'crazyswan627'), (511, 'purpleladybug962'), (512, 'beautifulmeercat671'), (513, 'silvergorilla921'), (514, 'tinytiger278'), (515, 'purpletiger543'), (516, 'blackgorilla355'), (517, 'tinybear415'), (518, 'happyleopard236'), (519, 'ticklishostrich431'), (520, 'purplekoala556'), (521, 'blacksnake625'), (522, 'brownwolf224'), (523, 'smallpanda144'), (524, 'bigbutterfly767'), (525, 'tinyswan128'), (526, 'silverbear390'), (527, 'redsnake235'), (528, 'ticklishelephant103'), (529, 'greengoose124'), (530, 'purplekoala201')]

In [0]:
## what is metadata?
## metadata tells sqlalchemy what to expect when communicating with a database

In [0]:
from sqlalchemy import *

In [0]:
## descrining a database with Meadata
## to use a database with native function
## you need to describe this databse with metadata then we can easily apply the native command 
## insted of writing SQL
metadata = MetaData()
heroes_table = Table('heroes',metadata,
                     Column('hero_id',Integer,nullable=False,primary_key=True),
                     Column('name',String(20),nullable=False,unique=True)
                     )

In [18]:
heroes_table

Table('heroes', MetaData(bind=None), Column('hero_id', Integer(), table=<heroes>, primary_key=True, nullable=False), Column('name', String(length=20), table=<heroes>, nullable=False), schema=None)

In [19]:
## now fetch the same data with the select command
from sqlalchemy.sql import select 
query = select([heroes_table]) ## select * from heroes
results = connection.execute(query)
print(results.fetchall())

[(1, 'Crareek'), (2, 'Tan'), (3, 'Huzzt'), (4, 'Pamble'), (5, 'Grimm'), (6, 'Jarboyd'), (7, 'Cyne'), (8, 'Wendner'), (9, 'Morbid'), (10, 'Grrdy'), (11, 'Nirty'), (12, 'Hillstomp'), (13, 'Frost'), (14, 'Massive'), (15, 'Greez'), (16, 'Mulberry'), (17, 'Drogfisher'), (18, 'Mako'), (19, 'Jade'), (20, 'Ansmoke'), (21, 'Tarys'), (22, 'Mitanic'), (23, 'Oracle'), (24, 'Swift'), (25, 'Dull'), (26, 'Gomezoo'), (27, 'Bonelegs'), (28, 'Perabiel'), (29, 'Marzuzu'), (30, 'Dratic'), (31, 'Harms'), (32, 'Pierceslight'), (33, 'Tustink'), (34, 'Uriel'), (35, 'Moptop'), (36, 'Dexir'), (37, 'Stinkharper'), (38, 'Crane'), (39, 'Silver'), (40, 'Metal'), (41, 'Pontihill'), (42, 'Cinder'), (43, 'Hudigo'), (44, 'James'), (45, 'Turir'), (46, 'Silverra'), (47, 'Raindon'), (48, 'Tyrant'), (49, 'Zoq'), (50, 'Lolliray'), (51, 'Leexie'), (52, 'Thunder'), (53, 'Star'), (54, 'Kenbow'), (55, 'Harribas'), (56, 'Cookerry'), (57, 'Meta'), (58, 'Femien'), (59, 'Wright'), (60, 'Skylly'), (61, 'Dayshimmer'), (62, 'Grindywatson'), (63, 'Shockclaw'), (64, 'Fanglson'), (65, 'Kellyclop'), (66, 'Raine'), (67, 'Kiki'), (68, 'Shadowend'), (69, 'Crystal'), (70, 'Pador'), (71, 'Cookie'), (72, 'Slicer'), (73, 'Viserwart'), (74, 'Dyden'), (75, 'Netor'), (76, 'Betrayry'), (77, 'Thistle'), (78, 'Zunabar'), (79, 'Gombo'), (80, 'Deaddaniels'), (81, 'HellvisWebbrek'), (82, 'Henrycruncher'), (83, 'Ufor'), (84, 'Marell'), (85, 'Gnodez'), (86, 'Skyhall'), (87, 'Frostbite'), (88, 'Whiten'), (89, 'Dracrcia'), (90, 'Karla'), (91, 'Nighish'), (92, 'Sabon'), (93, 'Snaglak'), (94, 'Hoodah'), (95, 'Zulkis'), (96, 'Nek'), (97, 'Mooreverse'), (98, 'Rogo'), (99, 'Azcox'), (100, 'Grindyllen'), (101, 'Spirit'), (102, 'Orpop'), (103, 'Lath'), (104, 'Abby'), (105, 'Acktosh'), (106, 'Stewartkor'), (107, 'Shhes'), (108, 'Webbrek'), (109, 'Chuz'), (110, 'Torrela'), (111, 'Total'), (112, 'Iron'), (113, 'Mystic'), (114, 'Gott'), (115, 'Scarlet'), (116, 'Brooksheart'), (117, 'Hernandecheek'), (118, 'Gnompson'), (119, 'Hawkinswimmer'), (120, 'Fisherwolf'), (121, 'Mashark'), (122, 'Onorray')]

In [20]:
## querying the data from the database
## we can access the databse column
## by this command
heroes_table.columns.hero_id

Column('hero_id', Integer(), table=<heroes>, primary_key=True, nullable=False)

In [21]:
heroes_table.columns.name

Column('name', String(length=20), table=<heroes>, nullable=False)

In [22]:
## we query he databse using boolian expression
## so we can use operator to search the data
## query a c specfic column from the database
query = select([heroes_table.columns.name])
result = connection.execute(query)
print(result.fetchall()) ## select name from the heros_table;

[('Crareek',), ('Tan',), ('Huzzt',), ('Pamble',), ('Grimm',), ('Jarboyd',), ('Cyne',), ('Wendner',), ('Morbid',), ('Grrdy',), ('Nirty',), ('Hillstomp',), ('Frost',), ('Massive',), ('Greez',), ('Mulberry',), ('Drogfisher',), ('Mako',), ('Jade',), ('Ansmoke',), ('Tarys',), ('Mitanic',), ('Oracle',), ('Swift',), ('Dull',), ('Gomezoo',), ('Bonelegs',), ('Perabiel',), ('Marzuzu',), ('Dratic',), ('Harms',), ('Pierceslight',), ('Tustink',), ('Uriel',), ('Moptop',), ('Dexir',), ('Stinkharper',), ('Crane',), ('Silver',), ('Metal',), ('Pontihill',), ('Cinder',), ('Hudigo',), ('James',), ('Turir',), ('Silverra',), ('Raindon',), ('Tyrant',), ('Zoq',), ('Lolliray',), ('Leexie',), ('Thunder',), ('Star',), ('Kenbow',), ('Harribas',), ('Cookerry',), ('Meta',), ('Femien',), ('Wright',), ('Skylly',), ('Dayshimmer',), ('Grindywatson',), ('Shockclaw',), ('Fanglson',), ('Kellyclop',), ('Raine',), ('Kiki',), ('Shadowend',), ('Crystal',), ('Pador',), ('Cookie',), ('Slicer',), ('Viserwart',), ('Dyden',), ('Netor',), ('Betrayry',), ('Thistle',), ('Zunabar',), ('Gombo',), ('Deaddaniels',), ('HellvisWebbrek',), ('Henrycruncher',), ('Ufor',), ('Marell',), ('Gnodez',), ('Skyhall',), ('Frostbite',), ('Whiten',), ('Dracrcia',), ('Karla',), ('Nighish',), ('Sabon',), ('Snaglak',), ('Hoodah',), ('Zulkis',), ('Nek',), ('Mooreverse',), ('Rogo',), ('Azcox',), ('Grindyllen',), ('Spirit',), ('Orpop',), ('Lath',), ('Abby',), ('Acktosh',), ('Stewartkor',), ('Shhes',), ('Webbrek',), ('Chuz',), ('Torrela',), ('Total',), ('Iron',), ('Mystic',), ('Gott',), ('Scarlet',), ('Brooksheart',), ('Hernandecheek',), ('Gnompson',), ('Hawkinswimmer',), ('Fisherwolf',), ('Mashark',), ('Onorray',)]

In [23]:
## chain of query of
## select only 5 name from the database
query = select([heroes_table.columns.name]).limit(5)
result = connection.execute(query)
print(result.fetchall())

[('Crareek',), ('Tan',), ('Huzzt',), ('Pamble',), ('Grimm',)]

In [24]:
## if we want to query value after the first 5 then we use the offset command
query = select([heroes_table]).offset(5).limit(10) ## so it will start from 6 and then print the next 10 item
result = connection.execute(query)
print(result.fetchall())

[(6, 'Jarboyd'), (7, 'Cyne'), (8, 'Wendner'), (9, 'Morbid'), (10, 'Grrdy'), (11, 'Nirty'), (12, 'Hillstomp'), (13, 'Frost'), (14, 'Massive'), (15, 'Greez')]

In [25]:
## sort the dtaa
## we can chain the requorments to sort 
query = select([heroes_table]).order_by(heroes_table.columns.name)  ## order by the name
result = connection.execute(query)
print(result.fetchall())

[(104, 'Abby'), (105, 'Acktosh'), (20, 'Ansmoke'), (99, 'Azcox'), (76, 'Betrayry'), (27, 'Bonelegs'), (116, 'Brooksheart'), (109, 'Chuz'), (42, 'Cinder'), (56, 'Cookerry'), (71, 'Cookie'), (38, 'Crane'), (1, 'Crareek'), (69, 'Crystal'), (7, 'Cyne'), (61, 'Dayshimmer'), (80, 'Deaddaniels'), (36, 'Dexir'), (89, 'Dracrcia'), (30, 'Dratic'), (17, 'Drogfisher'), (25, 'Dull'), (74, 'Dyden'), (64, 'Fanglson'), (58, 'Femien'), (120, 'Fisherwolf'), (13, 'Frost'), (87, 'Frostbite'), (85, 'Gnodez'), (118, 'Gnompson'), (79, 'Gombo'), (26, 'Gomezoo'), (114, 'Gott'), (15, 'Greez'), (5, 'Grimm'), (100, 'Grindyllen'), (62, 'Grindywatson'), (10, 'Grrdy'), (31, 'Harms'), (55, 'Harribas'), (119, 'Hawkinswimmer'), (81, 'HellvisWebbrek'), (82, 'Henrycruncher'), (117, 'Hernandecheek'), (12, 'Hillstomp'), (94, 'Hoodah'), (43, 'Hudigo'), (3, 'Huzzt'), (112, 'Iron'), (19, 'Jade'), (44, 'James'), (6, 'Jarboyd'), (90, 'Karla'), (65, 'Kellyclop'), (54, 'Kenbow'), (67, 'Kiki'), (103, 'Lath'), (51, 'Leexie'), (50, 'Lolliray'), (18, 'Mako'), (84, 'Marell'), (29, 'Marzuzu'), (121, 'Mashark'), (14, 'Massive'), (57, 'Meta'), (40, 'Metal'), (22, 'Mitanic'), (97, 'Mooreverse'), (35, 'Moptop'), (9, 'Morbid'), (16, 'Mulberry'), (113, 'Mystic'), (96, 'Nek'), (75, 'Netor'), (91, 'Nighish'), (11, 'Nirty'), (122, 'Onorray'), (23, 'Oracle'), (102, 'Orpop'), (70, 'Pador'), (4, 'Pamble'), (28, 'Perabiel'), (32, 'Pierceslight'), (41, 'Pontihill'), (47, 'Raindon'), (66, 'Raine'), (98, 'Rogo'), (92, 'Sabon'), (115, 'Scarlet'), (68, 'Shadowend'), (107, 'Shhes'), (63, 'Shockclaw'), (39, 'Silver'), (46, 'Silverra'), (86, 'Skyhall'), (60, 'Skylly'), (72, 'Slicer'), (93, 'Snaglak'), (101, 'Spirit'), (53, 'Star'), (106, 'Stewartkor'), (37, 'Stinkharper'), (24, 'Swift'), (2, 'Tan'), (21, 'Tarys'), (77, 'Thistle'), (52, 'Thunder'), (110, 'Torrela'), (111, 'Total'), (45, 'Turir'), (33, 'Tustink'), (48, 'Tyrant'), (83, 'Ufor'), (34, 'Uriel'), (73, 'Viserwart'), (108, 'Webbrek'), (8, 'Wendner'), (88, 'Whiten'), (59, 'Wright'), (49, 'Zoq'), (95, 'Zulkis'), (78, 'Zunabar')]

In [26]:
## sort the dtaa
## we can chain the requorments to sort 
## in here we can sorty it by the name and in descending order

query = select([heroes_table]).order_by(heroes_table.columns.name.desc())  ## order by the name
result = connection.execute(query)
print(result.fetchall())

[(78, 'Zunabar'), (95, 'Zulkis'), (49, 'Zoq'), (59, 'Wright'), (88, 'Whiten'), (8, 'Wendner'), (108, 'Webbrek'), (73, 'Viserwart'), (34, 'Uriel'), (83, 'Ufor'), (48, 'Tyrant'), (33, 'Tustink'), (45, 'Turir'), (111, 'Total'), (110, 'Torrela'), (52, 'Thunder'), (77, 'Thistle'), (21, 'Tarys'), (2, 'Tan'), (24, 'Swift'), (37, 'Stinkharper'), (106, 'Stewartkor'), (53, 'Star'), (101, 'Spirit'), (93, 'Snaglak'), (72, 'Slicer'), (60, 'Skylly'), (86, 'Skyhall'), (46, 'Silverra'), (39, 'Silver'), (63, 'Shockclaw'), (107, 'Shhes'), (68, 'Shadowend'), (115, 'Scarlet'), (92, 'Sabon'), (98, 'Rogo'), (66, 'Raine'), (47, 'Raindon'), (41, 'Pontihill'), (32, 'Pierceslight'), (28, 'Perabiel'), (4, 'Pamble'), (70, 'Pador'), (102, 'Orpop'), (23, 'Oracle'), (122, 'Onorray'), (11, 'Nirty'), (91, 'Nighish'), (75, 'Netor'), (96, 'Nek'), (113, 'Mystic'), (16, 'Mulberry'), (9, 'Morbid'), (35, 'Moptop'), (97, 'Mooreverse'), (22, 'Mitanic'), (40, 'Metal'), (57, 'Meta'), (14, 'Massive'), (121, 'Mashark'), (29, 'Marzuzu'), (84, 'Marell'), (18, 'Mako'), (50, 'Lolliray'), (51, 'Leexie'), (103, 'Lath'), (67, 'Kiki'), (54, 'Kenbow'), (65, 'Kellyclop'), (90, 'Karla'), (6, 'Jarboyd'), (44, 'James'), (19, 'Jade'), (112, 'Iron'), (3, 'Huzzt'), (43, 'Hudigo'), (94, 'Hoodah'), (12, 'Hillstomp'), (117, 'Hernandecheek'), (82, 'Henrycruncher'), (81, 'HellvisWebbrek'), (119, 'Hawkinswimmer'), (55, 'Harribas'), (31, 'Harms'), (10, 'Grrdy'), (62, 'Grindywatson'), (100, 'Grindyllen'), (5, 'Grimm'), (15, 'Greez'), (114, 'Gott'), (26, 'Gomezoo'), (79, 'Gombo'), (118, 'Gnompson'), (85, 'Gnodez'), (87, 'Frostbite'), (13, 'Frost'), (120, 'Fisherwolf'), (58, 'Femien'), (64, 'Fanglson'), (74, 'Dyden'), (25, 'Dull'), (17, 'Drogfisher'), (30, 'Dratic'), (89, 'Dracrcia'), (36, 'Dexir'), (80, 'Deaddaniels'), (61, 'Dayshimmer'), (7, 'Cyne'), (69, 'Crystal'), (1, 'Crareek'), (38, 'Crane'), (71, 'Cookie'), (56, 'Cookerry'), (42, 'Cinder'), (109, 'Chuz'), (116, 'Brooksheart'), (27, 'Bonelegs'), (76, 'Betrayry'), (99, 'Azcox'), (20, 'Ansmoke'), (105, 'Acktosh'), (104, 'Abby')]

In [27]:
## in here we can sorty it by the name and in descending order

query = select([heroes_table]).order_by(heroes_table.columns.hero_id.desc())  ## order by the name
result = connection.execute(query)
print(result.fetchall())

[(122, 'Onorray'), (121, 'Mashark'), (120, 'Fisherwolf'), (119, 'Hawkinswimmer'), (118, 'Gnompson'), (117, 'Hernandecheek'), (116, 'Brooksheart'), (115, 'Scarlet'), (114, 'Gott'), (113, 'Mystic'), (112, 'Iron'), (111, 'Total'), (110, 'Torrela'), (109, 'Chuz'), (108, 'Webbrek'), (107, 'Shhes'), (106, 'Stewartkor'), (105, 'Acktosh'), (104, 'Abby'), (103, 'Lath'), (102, 'Orpop'), (101, 'Spirit'), (100, 'Grindyllen'), (99, 'Azcox'), (98, 'Rogo'), (97, 'Mooreverse'), (96, 'Nek'), (95, 'Zulkis'), (94, 'Hoodah'), (93, 'Snaglak'), (92, 'Sabon'), (91, 'Nighish'), (90, 'Karla'), (89, 'Dracrcia'), (88, 'Whiten'), (87, 'Frostbite'), (86, 'Skyhall'), (85, 'Gnodez'), (84, 'Marell'), (83, 'Ufor'), (82, 'Henrycruncher'), (81, 'HellvisWebbrek'), (80, 'Deaddaniels'), (79, 'Gombo'), (78, 'Zunabar'), (77, 'Thistle'), (76, 'Betrayry'), (75, 'Netor'), (74, 'Dyden'), (73, 'Viserwart'), (72, 'Slicer'), (71, 'Cookie'), (70, 'Pador'), (69, 'Crystal'), (68, 'Shadowend'), (67, 'Kiki'), (66, 'Raine'), (65, 'Kellyclop'), (64, 'Fanglson'), (63, 'Shockclaw'), (62, 'Grindywatson'), (61, 'Dayshimmer'), (60, 'Skylly'), (59, 'Wright'), (58, 'Femien'), (57, 'Meta'), (56, 'Cookerry'), (55, 'Harribas'), (54, 'Kenbow'), (53, 'Star'), (52, 'Thunder'), (51, 'Leexie'), (50, 'Lolliray'), (49, 'Zoq'), (48, 'Tyrant'), (47, 'Raindon'), (46, 'Silverra'), (45, 'Turir'), (44, 'James'), (43, 'Hudigo'), (42, 'Cinder'), (41, 'Pontihill'), (40, 'Metal'), (39, 'Silver'), (38, 'Crane'), (37, 'Stinkharper'), (36, 'Dexir'), (35, 'Moptop'), (34, 'Uriel'), (33, 'Tustink'), (32, 'Pierceslight'), (31, 'Harms'), (30, 'Dratic'), (29, 'Marzuzu'), (28, 'Perabiel'), (27, 'Bonelegs'), (26, 'Gomezoo'), (25, 'Dull'), (24, 'Swift'), (23, 'Oracle'), (22, 'Mitanic'), (21, 'Tarys'), (20, 'Ansmoke'), (19, 'Jade'), (18, 'Mako'), (17, 'Drogfisher'), (16, 'Mulberry'), (15, 'Greez'), (14, 'Massive'), (13, 'Frost'), (12, 'Hillstomp'), (11, 'Nirty'), (10, 'Grrdy'), (9, 'Morbid'), (8, 'Wendner'), (7, 'Cyne'), (6, 'Jarboyd'), (5, 'Grimm'), (4, 'Pamble'), (3, 'Huzzt'), (2, 'Tan'), (1, 'Crareek')]

In [28]:
## adding more chain in the query
query = select([heroes_table]).offset(5).limit(5).order_by(heroes_table.columns.hero_id.desc())
result = connection.execute(query)
print(result.fetchall())

[(117, 'Hernandecheek'), (116, 'Brooksheart'), (115, 'Scarlet'), (114, 'Gott'), (113, 'Mystic')]

In [29]:
## suing where clause
query = select([heroes_table]).where((heroes_table.columns.hero_id>5) &(heroes_table.columns.hero_id<10))
result = connection.execute(query)
print(result.fetchall())

[(6, 'Jarboyd'), (7, 'Cyne'), (8, 'Wendner'), (9, 'Morbid')]

In [30]:
## suing where clause
query = select([heroes_table]).where((heroes_table.columns.hero_id<5) | (heroes_table.columns.hero_id>10)).limit(20)
result = connection.execute(query)
print(result.fetchall())

[(1, 'Crareek'), (2, 'Tan'), (3, 'Huzzt'), (4, 'Pamble'), (11, 'Nirty'), (12, 'Hillstomp'), (13, 'Frost'), (14, 'Massive'), (15, 'Greez'), (16, 'Mulberry'), (17, 'Drogfisher'), (18, 'Mako'), (19, 'Jade'), (20, 'Ansmoke'), (21, 'Tarys'), (22, 'Mitanic'), (23, 'Oracle'), (24, 'Swift'), (25, 'Dull'), (26, 'Gomezoo')]

In [31]:
## search a specfic row
## suing where clause
query = select([heroes_table]).where(heroes_table.columns.hero_id==5)
result = connection.execute(query)
print(result.fetchall())

[(5, 'Grimm')]

In [32]:
# adding another query
## search a specfic row
## using where clause
query = select([heroes_table]).where((heroes_table.columns.hero_id==5) | (heroes_table.columns.hero_id==10) )
result = connection.execute(query)
print(result.fetchall())

[(5, 'Grimm'), (10, 'Grrdy')]

In [0]:
## aggreratig the data

In [0]:
## we can do aliasing the column nam we can used for multiple uses 
## column aliasing will be used as a data aggregation
## and join query
## you have to explextly describe the key which you want to aliase
## and what else you want to fetch
query = select([heroes_table.columns.hero_id.label("key"),heroes_table.columns.name]).limit(20)
result = connection.execute(query)

In [35]:
## this time we are going to iterate through the data

for row in result:
  print(row.items())

[('key', 1), ('name', 'Crareek')]
[('key', 2), ('name', 'Tan')]
[('key', 3), ('name', 'Huzzt')]
[('key', 4), ('name', 'Pamble')]
[('key', 5), ('name', 'Grimm')]
[('key', 6), ('name', 'Jarboyd')]
[('key', 7), ('name', 'Cyne')]
[('key', 8), ('name', 'Wendner')]
[('key', 9), ('name', 'Morbid')]
[('key', 10), ('name', 'Grrdy')]
[('key', 11), ('name', 'Nirty')]
[('key', 12), ('name', 'Hillstomp')]
[('key', 13), ('name', 'Frost')]
[('key', 14), ('name', 'Massive')]
[('key', 15), ('name', 'Greez')]
[('key', 16), ('name', 'Mulberry')]
[('key', 17), ('name', 'Drogfisher')]
[('key', 18), ('name', 'Mako')]
[('key', 19), ('name', 'Jade')]
[('key', 20), ('name', 'Ansmoke')]

In [0]:
## make aggragating data
## import new table in database
## and add the metadata to work with
## you can take partial portion of the table and work with it
## here we ingone the foreign key
## you can skip things you dont need
batle_events_table = Table('battle_events',metadata,
                           Column('battle_event_id',Integer,nullable=False,primary_key=True),
                           Column('battle_participant_id',Integer,nullable=False,primary_key=True),
                           Column('rubies_gained',Integer,nullable=False,primary_key=True),
                           Column('timestamp',Integer,nullable=False,primary_key=True),
                           
                           )

In [37]:
query = select([batle_events_table]).limit(5)
result = connection.execute(query)
print(result.fetchall())

[(1, 5, 3, 6723), (2, 5, 5, 7680), (3, 1, 1, 8202), (4, 5, 5, 8441), (5, 1, 3, 9194)]

In [0]:
### aggragate funcion goes here

In [39]:
## there is fun function with aggrate function
### calculate the sum
query = select([func.sum(batle_events_table.columns.rubies_gained)])
result = connection.execute(query)
print(result.scalar())

72847

In [0]:
## join query
## goes here
## first
## remove the metadata
metadata.remove(batle_events_table)

In [0]:
batle_events_table = Table('battle_events',metadata,
                           Column('battle_event_id',Integer,nullable=False,primary_key=True),
                           Column('battle_participant_id',Integer,ForeignKey('battle_participants.battle_participant_id'),nullable=False,primary_key=True),
                           Column('battle_event_type_id',Integer,ForeignKey('battle_event_types.battle_event_type_id')),
                           Column('rubies_gained',Integer,nullable=False,primary_key=True),
                           Column('timestamp',Integer,nullable=False,primary_key=True),
                           
                           )

In [42]:
query = select([batle_events_table]).limit(5)
result = connection.execute(query)
print(result.fetchall())

[(1, 5, 3, 3, 6723), (2, 5, 3, 5, 7680), (3, 1, 3, 1, 8202), (4, 5, 3, 5, 8441), (5, 1, 3, 3, 9194)]

In [0]:
batle_participent_table = Table('battle_participants',metadata,
                                Column('battle_participant_id',Integer,nullable=False,primary_key = True),
                                Column('user_id',Integer,ForeignKey('users.user_id'),nullable=False,primary_key = True),
                                Column('battle_id',Integer,nullable=False,primary_key = True),
                                Column('hero_id',Integer,ForeignKey('heroes.hero_id'),nullable=False,primary_key = True),
                                )

In [0]:
batle_event_type = Table('battle_event_types',metadata,
                                Column('battle_event_type_id',Integer,nullable=False,primary_key = True),
                                Column('name',String(20),nullable=False),
                                )

In [0]:
## now join the table 
## with .join command

join = batle_participent_table.join(batle_events_table,batle_participent_table.columns.battle_participant_id==batle_events_table.columns.battle_participant_id).join(heroes_table,batle_participent_table.columns.hero_id == heroes_table.columns.hero_id)

In [53]:
join

In [59]:
join.description

'Join object on Join object on battle_participants(140591074401360) and battle_events(140591074398840)(140591074163904) and heroes(140591081758672)'

In [0]:
## we join the battle participents and battle events and heros table

In [0]:
## we need to find which heros did the most battle
## we need two use the heros table and battle_events table
## we join three table because we dont have direct connection
## and we will query with the join table
## and aliasing a table name
query = select([heroes_table.columns.name,func.count(batle_events_table.columns.battle_event_id).label("total_events")]).select_from(join).group_by(heroes_table.columns.name).order_by(Column("total_events").desc())

In [0]:
results = connection.execute(query)

In [66]:
results.fetchall()

[('Crareek', 3687),
 ('Pamble', 2054),
 ('Huzzt', 2036),
 ('Tan', 1946),
 ('Grimm', 1820),
 ('Jade', 1780),
 ('Hillstomp', 1736),
 ('Mako', 1719),
 ('Grrdy', 1528)]

In [0]:
## you have to remember if a table is connected with other table cia another table and not directly conneected then
## you need to join the other table too